---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import HeroTop from "@/assets/images/hero-top.svg";
import Phone from "@/assets/images/phone.png";
import { Button } from "@/components/ui/button";
import CardSection from "@/layouts/CardSection.astro";
---

<Layout title="Givingli Landing">
  <main class="z-10 relative flex flex-col gap-8 max-w-[1400px] w-[95%] md:w-11/12 mx-auto">
    <div class="flex flex-col items-center gap-6">
      <div
        class="flex flex-col gap-4 justify-center items-center mt-32"
      >
        <Image src={HeroTop} alt="Hero Top" class="w-36" />
        <h1 class="text-8xl text-center font-bold">
          Gift <br /> More <br /> Smiles
        </h1>
      </div>
      <Button className="rounded-full px-8" size={"xl"}
        >Send a Givingli</Button
      >
    </div>
    <div class="grid grid-cols-3 items-center gap-20 justify-center mx-auto ">
      <p class="text-5xl col-start-1 col-end-2 text-left">
        We make gifting and celebrating better.
      </p>
      <Image
        src={Phone}
        id="hero-phone"
        alt="phone"
        class="w-96 mt-40 mx-auto col-start-2 col-end-3 justify-center"
      />
      <p class="text-3xl col-start-3 col-end-4 text-right">
        So you can show up for every meaningful occasion, milestone,
        and moment.
      </p>
    </div>
    <CardSection />
  </main>
</Layout>

<script>
  // fadeout in scroll down

  // Seleccionamos los stickers y el teléfono
  const stickers = gsap.utils.toArray(".sticker");
  const phone = document.querySelector("#hero-phone");

  let fadeOutComplete = false;

  // Evento para manejar el scroll y el fadeout de los stickers
  window.addEventListener("scroll", () => {
    const scrollPosition = window.scrollY;

    stickers.forEach((sticker) => {
      const fadeOutStart = 100; // Inicio del fade
      const fadeOutEnd = 500; // Fin del fade

      // Mapear el valor del scroll a un valor de opacidad
      let opacity = gsap.utils.mapRange(
        fadeOutStart,
        fadeOutEnd,
        1,
        0,
        scrollPosition
      );
      if (opacity < 0) opacity = 0; // Asegurar que no sea negativo

      // Aplicar el fadeout a los stickers
      gsap.to(sticker as gsap.TweenTarget, {
        opacity: opacity,
        duration: 0.2, // Suavizado en la transición
      });
    });

    // Si el scroll llega al final del fade, marcamos el fadeout como completo
    if (scrollPosition >= 500) {
      fadeOutComplete = true;
    } else {
      fadeOutComplete = false;
    }
  });

  // Evento para mover el teléfono solo cuando el fadeout ha terminado
  document.addEventListener("mousemove", (e) => {
    if (fadeOutComplete) {
      const depth = 100;
      const moveX = (e.pageX - window.innerWidth / 2) / depth;
      const moveY = (e.pageY - window.innerHeight / 2) / depth;

      gsap.to(phone, {
        x: moveX,
        y: moveY,
      });
    }
  });
</script>
